<!DOCTYPE html>
<html>
<head>

   

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  text-align: center;
}
.text-center{
  text-align: center;
}
.grid-container2 {
  display: grid;
  grid-template-columns: 380px 380px 380px 380px;
  padding: 10px;
  text-align: center;
  margin:10px;
  
}

.box{
    border: 1px solid black;
    height:60px;
  }
.tinytable2 {width: 100%;border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none;font-size: 62.5%;}
.tinytable2 th { max-width:800px; background-color: #004872;height:10px; text-align:center; color:#cfdce7; border:1px solid #fff; border-right:none}
.tinytable2 th h3 { padding:3px 4px 4px}
.tinytable2 td {padding:2px 2px 2px;  font-family: Verdana;
  font-style: normal;font-weight: 800; font-variant-ligatures: normal; font-variant-caps: normal;
  font-variant-numeric: normal;font-variant-east-asian: normal;font-stretch: normal;line-height: normal;display: table-cell; vertical-align: inherit; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}

</style>
</head>
<body>
    <div class="text-center">
   
        <img src="/Image/logo10.png">
    </div>
    <div style="width:100%;background-color: #004872;color:white" class="text-center">
     
          
     
        <h5>KOM MONTHLY SHORTAGE / DAMAGE REPORT</h5>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <p  style="background-color: #004872;color:white">KOM NAME: ANURAG</p>
        </div>
        <div class="grid-item">
            <p  style="background-color: #004872;color:white">KOM DEPARTMENT</p>
        </div>
        <div class="grid-item">
            <p  style="background-color: #004872;color:white">MONTH: Jun/2020</p>
        </div>
    </div>
    <table class="tinytable2">
        <tr>
            <th>DOCKET NO</th>
            <th>CONSIGNOR</th>
            <th>CONSIGNEE</th>
            <th>ORIGIN</th>
            <th>DESTINATION</th>
            <th>TOTAL BOX</th>
            <th>TYPE</th>
            <th>COUNT</th>
            <th>REMARK</th>
            <th>ROOT CAUSE</th>
            <th>GROSS VALUE</th>
            <th>DABIT VALUE</th>
            <th>TOKEN</th>
            <th>COF STATUS</th>

        </tr>
       
        <tr>
            <td>1245</td>
            <td>1245</td>
            <td>1245</td>
            <td>1245</td>
            <td>1245</td>
            <td>1245</td>
            <td>1245</td>
            <td>1245</td>
            <td>1245</td>
            <td>1245</td>
            <td>1245</td>
            <td>1245</td>
            <td>1245</td>
            <td>1245</td>

        </tr>
      
    </table>
    <br />
    <div class="grid-container2">
        <div class="grid-item">
            <p class="text-center" style="background-color: #004872;color:white">KOM</p>
            <div class="box">

            </div>
        </div>
        <div class="grid-item">
            <p class="text-center" style="background-color: #004872;color:white">SHORT EXCESS</p>
            <div class="box">

            </div>
        </div>
        <div class="grid-item">
            <p class="text-center" style="background-color: #004872;color:white">KOM MANAGER</p>
            <div class="box">

            </div>
        </div>
        <div class="grid-item">
            <p class="text-center" style="background-color: #004872;color:white">OPERATIONS</p>
            <div class="box">

            </div>
        </div>
    </div>
</body>
</html>

